.pure-button {
    border: 1px solid #999;
}

html,body, app, .wrap {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.calc-button {
    height: 20%;
}
.row {
  /*  line-height: 30px;
    font-size: 30px;*/
    height: 19%;
}

.calc-button, .row {
    line-height: 60px;
    font-size: 60px;
    vertical-align: middle;
    /*text-align: center;*/
}
.num.active {
    font-weight: bold;
    text-decoration: underline;
}
